{% extends 'navbar.html' %}


{% block content %}

<h1>list categories</h1>


<div>
    <form action="">
    <input type="text" name="q" autocomplete="off" hx-get="{% url 'category_search' %}" hx-trigger="keyup changed delay:300ms" hx-target="#category-list" hx-swap="innerHTML">
    <button type="reset" hx-get="{% url 'category_search' %}" hx-target="#category-list" hx-swap="innerHTML">cancel</button>
    </form>
    
</div>



<div id="category-list">
    {% include 'partial_category.html' %}
</div>

<a href="{% url 'addCategory' %}"><button>ADD CATEGORY</button></a>



{% endblock %}