
    {% if user.is_blocked %}
    <span class="text-sm sm:text-base font-medium text-gray-800">
        <button class="bg-orange-500 text-white px-3 sm:px-4 py-1.5 sm:py-2 rounded-md text-xs sm:text-sm font-medium transition duration-200">
            Inactive
        </button>
    </span>
    {% else %}
    <span class="text-sm sm:text-base font-medium text-gray-800">
        <button class="bg-green-500 text-white px-3 sm:px-4 py-1.5 sm:py-2 rounded-md text-xs sm:text-sm font-medium transition duration-200">
           active
        </button>
    </span>
    {% endif %}

