<div class="bg-white rounded-lg shadow-sm p-6">

    {% if hx_message %}
    <div class="bg-green-100 text-green-800 px-4 py-3 rounded mb-4">
    {{ hx_message }}
    </div>
    {% endif %}
    <!-- Personal Information Section -->
    <form action=""  hx-post="{% url 'editProfile' %}" hx-target="#user-right-content" hx-swap="innerHTML">
        {% csrf_token %}

        <div class="mb-8">
            <div class="flex items-center justify-between mb-3">
                <label class="block text-sm font-medium text-gray-900">Name</label>
            </div>
            {{form.firstname}}
        </div>

        <!-- Email Address Section -->
        <div class="mb-8">
            <div class="flex items-center justify-between mb-3">
                <label class="block text-sm font-medium text-gray-900">Email Address</label>
            </div>
            <input type="email" name="new_email" value="{{user.email}}" class="w-full bg-gray-100 border border-gray-300 rounded-md px-3 py-2 focus:ring-2 focus:ring-orange-500 focus:outline-none">
        </div>

        <!-- Mobile Number Section -->
        <div class="mb-8">
            <div class="flex items-center justify-between mb-3">
                <label class="block text-sm font-medium text-gray-900">Mobile Number</label>
            </div>
            {{form.phone_number}}

        </div>

        <button type="submit"
            class="w-full lg:w-auto lg:float-right bg-orange-600 hover:bg-orange-700 text-white font-bold py-3 px-12 rounded-lg transition shadow-md mt-5">
            Save
        </button>

    </form>

</div>







