<div class="bg-white rounded-lg shadow-sm p-6">

    {% if toast_message %}
    <script>
    showSnackbar("{{ toast_message|escapejs }}", "#22c55e");
    </script>
    {% endif %}
    <!-- Personal Information Section -->
    <form action=""  hx-post="{% url 'editProfile' %}" hx-target="#user-right-content" hx-swap="innerHTML">
        {% csrf_token %}

        <div class="mb-8">
            <div class="flex items-center justify-between mb-3">
                <label class="block text-sm font-medium text-gray-900">First name</label>
            </div>
            {{form.firstname}}
            {% for error in form.firstname.errors %}

            <p class="text-red-500 text-sm mt-1">{{ error }}</p>

            {% endfor %}
        </div>

        <div class="mb-8">
            <div class="flex items-center justify-between mb-3">
                <label class="block text-sm font-medium text-gray-900">Last name</label>
            </div>
            {{form.lastname}}
            {% for error in form.lastname.errors %}

            <p class="text-red-500 text-sm mt-1">{{ error }}</p>

            {% endfor %}
        </div>

        <!-- Email Address Section -->
        <div class="mb-8">
            <div class="flex items-center justify-between mb-3">
                <label class="block text-sm font-medium text-gray-900">Email Address</label>
            </div>
            <input type="email" name="new_email" value="{{user.email}}" class="w-full bg-gray-100 border border-gray-300 rounded-md px-3 py-2 focus:ring-2 focus:ring-orange-500 focus:outline-none">
        </div>

        <!-- Mobile Number Section -->
        <div class="mb-8">
            <div class="flex items-center justify-between mb-3">
                <label class="block text-sm font-medium text-gray-900">Mobile Number</label>
            </div>
            {{form.phone_number}}
            {% for error in form.phone_number.errors %}

            <p class="text-red-500 text-sm mt-1">{{ error }}</p>

            {% endfor %}

        </div>

        <button type="submit"
            class="w-full lg:w-auto lg:float-right bg-orange-600 hover:bg-orange-700 text-white font-bold py-3 px-12 rounded-lg transition shadow-md mt-5">
            Save
        </button>

    </form>

</div>







