{% extends 'navbar.html' %}

{% block content %}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 sm:py-8">

    <!-- order Table -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden ">
        <table class="w-full">
            <thead class="bg-gray-100 border-b">
                <tr>
                    <th
                        class="px-4 sm:px-6 py-3 sm:py-4 text-left text-xs sm:text-sm font-semibold text-gray-700 uppercase tracking-wider">
                        Order ID</th>
                    <th
                        class="px-4 sm:px-6 py-3 sm:py-4 text-left text-xs sm:text-sm font-semibold text-gray-700 uppercase tracking-wider">
                        Customer</th>
                    <th
                        class="px-4 sm:px-6 py-3 sm:py-4 text-right text-xs sm:text-sm font-semibold text-gray-700 uppercase tracking-wider">
                        Date</th>
                    <th
                        class="px-4 sm:px-6 py-3 sm:py-4 text-right text-xs sm:text-sm font-semibold text-gray-700 uppercase tracking-wider">
                        Total Amount</th>
                    <th
                        class="px-4 sm:px-6 py-3 sm:py-4 text-right text-xs sm:text-sm font-semibold text-gray-700 uppercase tracking-wider">
                        Status</th>
                    <th
                        class="px-4 sm:px-6 py-3 sm:py-4 text-right text-xs sm:text-sm font-semibold text-gray-700 uppercase tracking-wider">
                        Actions</th>

                </tr>
            </thead>
            {% for order in orders %}
            <tbody class="divide-y divide-gray-200">
                <!-- Product Row 1 -->
                <tr class="hover:bg-gray-50 transition duration-150">
                    <td class="px-4 sm:px-6 py-4">
                        <div class="flex items-center space-x-3 sm:space-x-4">
                            <span class="text-sm sm:text-base font-medium text-gray-800">{{order.orderID}}</span>
                        </div>
                    </td>
                    <td class="px-4 sm:px-6 py-4">
                        <div class="flex items-center space-x-3 sm:space-x-4">
                            <span class="text-sm sm:text-base font-medium text-gray-800">{{order.user.firstname}}</span>
                        </div>
                    </td>
                    <td class="px-4 sm:px-6 py-4">
                        <div class="flex items-center space-x-3 sm:space-x-4">
                            <span class="text-sm sm:text-base font-medium text-gray-800">{{order.created_at}}</span>
                        </div>
                    </td>
                    <td class="px-4 sm:px-6 py-4">
                        <div class="flex items-center space-x-3 sm:space-x-4">
                            <span class="text-sm sm:text-base font-medium text-gray-800">{{order.total_price}}</span>
                        </div>
                    </td>
                    <td class="px-4 sm:px-6 py-4">
                        <div class="flex items-center space-x-3 sm:space-x-4">
                            <span
                                class="text-sm sm:text-base font-medium text-gray-800">{{order.orderitem.all.first.status}}</span>
                        </div>

                    </td>

                    <td class="px-4 sm:px-6 py-4">
                        <a href="{% url 'orderDetailView' order.id %}">
                            <button
                                class="bg-green-500 hover:bg-green-600 text-white px-3 sm:px-4 py-1.5 sm:py-2 rounded-md text-xs sm:text-sm font-medium transition duration-200">
                                View Details
                            </button>
                        </a>
                    </td>

                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}