{% extends 'navbar.html' %}
{% block content %}

<div>
     <div class="flex items-center justify-between mb-8">
        <div>
            <h1 class="text-2xl font-bold text-gray-900">Add Banner</h1>
        </div>
    </div>


    <form action="" method="post"  enctype="multipart/form-data">

    {% csrf_token %}


    <div class="flex flex-col items-center">
  
        <!-- Upload Box -->
        <label
            class="border-2 border-dashed border-gray-300 rounded-lg p-6 text-center cursor-pointer hover:border-blue-400 transition w-full md:w-1/2">
            <div class="flex flex-col items-center">
                <span class="text-xs text-blue-600 font-medium hover:text-blue-700">
                    Click to Add Banner
                </span>
            </div>
            <input type="file" id="bannerInput" class="hidden" accept="image/*">
        </label>

        <!-- Preview -->
        <div class="mt-2 w-full md:w-1/2">
            <img id="bannerPreview"
                style="max-width:100%; display:none; border-radius: 0.5rem; border:1px solid #ccc;">
        </div>

        <input type="file" id="finalBannerImage" name="image" hidden>

        <button type="submit"
            class="px-6 py-2 bg-blue-600 text-white text-sm font-medium rounded-lg hover:bg-blue-700 transition mt-6">
            Submit
        </button>

    </div>

    </form>

</div>


<!-- Fullscreen Modal -->
<div id="cropperModal" class="hidden fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center z-50">
    <div class="bg-white p-4 rounded shadow-lg max-w-4xl w-full h-[90vh] flex flex-col">

        <!-- Header -->
        <div class="flex justify-between items-center mb-2">
            <h2 class="text-lg font-bold">Crop Banner</h2>
            <button id="closeModal" class="text-red-500 font-bold text-xl">✕</button>
        </div>

        <!-- Image Container -->
        <div class="flex-1 flex justify-center items-center overflow-auto">
            <img id="modalImage" class="max-w-full max-h-[70vh] object-contain">
        </div>

        <div class="mt-4 flex justify-end gap-2">
            <button id="cropSave" class="bg-blue-500 text-white px-4 py-2 rounded">Crop & Save</button>
        </div>

    </div>
</div>

{% endblock %}