<div id="wishlist-btn-{{ product.id }}">
{% if in_wishlist %}
  <button
    hx-post="{% url 'addWishlist' variant.id %}"
    hx-target="#wishlist-btn-{{ product.id }}"
    hx-swap="outerHTML"
    class="wishlist-btn sparkle-btn absolute top-3 right-3 z-10 text-red-500"
  >
     <i class="fa-solid fa-heart"></i>
  </button>
  
{% else %}
  <button id="myButton"
    hx-post="{% url 'addWishlist' variant.id %}"
    hx-target="#wishlist-btn-{{ product.id }}"
    hx-swap="outerHTML"
    class="wishlist-btn sparkle-btn absolute top-3 right-3 z-10 text-gray-400"
  >
   <i class="fa-regular fa-heart"></i>
  </button>
{% endif %}
</div>


