<div id="wishlist-btn-{{ product.id }}">
{% if in_wishlist %}
  <button
    hx-post="{% url 'addWishlist' variant.id %}"
    hx-target="#wishlist-btn-{{ product.id }}"
    hx-swap="outerHTML"
    class="wishlist-btn sparkle-btn absolute top-3 right-3 z-10 flex items-center justify-center 
          w-11 h-11 rounded-xl border border-red-400 bg-white
          hover:bg-red-50 transition-all">

     <i class="fa-solid fa-heart text-red-500 text-xl"></i>
  </button>
  
{% else %}
  <button id="myButton"
    hx-post="{% url 'addWishlist' variant.id %}"
    hx-target="#wishlist-btn-{{ product.id }}"
    hx-swap="outerHTML"
    class="wishlist-btn sparkle-btn absolute top-3 right-3 z-10 flex items-center justify-center 
         w-11 h-11 rounded-xl border border-gray-300 bg-white
         hover:border-gray-400 hover:bg-gray-100 transition-all">

   <i class="fa-regular fa-heart text-gray-500 text-xl"></i>
  </button>
{% endif %}
</div>


